<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="lib.css" />
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body ng-app="app" ng-controller="app">
        <div class="row" ng-repeat="row in rows">
            <div
                ng-class="['seat', {seat_up: $index % 2}, {active: cell.active}]"
                ng-repeat="cell in row"
                ng-click="cell.active = !cell.active"
            >
                <md-icon
                    class="seat__icon"
                    md-svg-icon="{{cell.icon}}"
                ></md-icon>
                {{cell.id}}
            </div>
        </div>

        <script src="lib.js"></script>
        <script src="main.js"></script>
    </body>
</html>
